:root {
  --theme-font-sans: "Hiragino Sans", "Hiragino Kaku Gothic ProN",
    "Noto Sans Japanese", Meiryo, "Yu Gothic Medium", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --theme-font-sans-en: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  --theme-font-mono: "JetBrains Mono", Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", Meiryo, monospace, serif;
  --theme-sidebar-width: 214px;
}

:root {
  --theme-tx-1: #0f172a;
  --theme-tx-2: #334155;
  --theme-tx-3: #94a3b8;
  --theme-bg-1: #ffffff;
  --theme-bg-2: #f1f5f9;
  --theme-bg-3: #e2e8f0;
  --theme-bg-4: #9ca3af;
  --theme-bd-1: #e2e8f0;
  --theme-bs-1: 0 2px 4px 1px rgb(0 0 0 / 0.075);
  --theme-bs-2: 0 1px 2px rgb(0 0 0 / 0.1875);
  --theme-ac-1: #0ea5e9;
  --theme-ac-1-tx: #ffffff;
}

:root {
  --code-tx-1: #3f404c;
  --code-bg-1: #ffffff;
  --code-bg-2: #f7f9fc;
  --code-ac-1: #005cc5;
}
