.block-search {
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", Meiryo,
    "Yu Gothic Medium", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.block-search .block-search-field + .block-search-list {
  margin-top: 12px;
}

.block-search-field {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 2px solid #0ea5e9;
  border-radius: 6px;
}

.block-search-field:focus-within {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}

.block-search-field .block-search-icon {
  pointer-events: none;
  flex: none;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  fill: #444950;
}

.block-search-field > input {
  flex: 1 0;
  display: block;
  padding: 14px 16px;
  background-color: transparent;
  border: none;
  color: #444950;
  font-size: 16px;
  line-height: 1;
}

.block-search-field > input:focus {
  outline: none;
}

.block-search-field > input:placeholder-shown,
.block-search-field > input::-webkit-input-placeholder,
.block-search-field > input:-ms-input-placeholder {
  color: #989898;
}

.block-search-field > input:-moz-placeholder,
.block-search-field > input::-moz-placeholder {
  color: #989898;
  opacity: 1;
}

.block-search-list {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.block-search-list a {
  display: block;
  color: #444950;
  text-decoration: none;
}

.block-search-list a:focus {
  outline: none;
}

.block-search-list > li:not(:last-child) > a {
  padding-bottom: 6px;
}

.block-search-list > li:last-child > a {
  padding-bottom: 2px;
}

@media (hover: hover) and (pointer: fine) {
  .block-search-list a:hover {
    color: #ffffff;
  }
  .block-search-list a:hover > div {
    background-color: #0ea5e9;
  }
  .block-search-list a:hover > div:before {
    background-color: #ffffff;
  }
  .block-search-list a:hover p > strong mark {
    color: #ffffff;
    text-decoration: underline;
  }
  .block-search-list a:hover p > small {
    color: #ffffff;
  }
}

.block-search-list a > div {
  position: relative;
  padding: 12px 40px 12px 16px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 #d4d9e1;
  border-radius: 6px;
  overflow: hidden;
}

.block-search-list a:focus > div {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}

.block-search-list a > div:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  display: block;
  width: 8px;
  height: 8px;
  background-color: #d4d9e1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 76.6% 100%, 76.6% 23.4%, 0 23.4%);
  transform: translateY(-50%) rotate(45deg);
}

.block-search-list a:focus > div:before {
  outline: none !important;
}

.block-search-list p {
  margin: 0;
  line-height: 1.375;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.block-search-list p > strong {
  font-size: 14px;
  font-weight: 500;
}

.block-search-list p > strong mark {
  background: none;
  color: #0284c7;
}

.block-search-list p > small {
  color: #90a4b7;
  font-size: 12px;
  font-weight: 500;
}
