:root {
  --theme-tx-1: oklch(0.34 0.02 277.99 / 1);
  --theme-primary: oklch(0.74 0.15 209.92 / 1);
  --theme-secondary: oklch(0.74 0.22 335.78 / 1);
}

[data-theme="dark"] {
  --theme-tx-1: oklch(0.94 0.02 277.99 / 1);
}

:root {
  --header-height: 62px;
}

.wysiwyg {
  --wysiwyg-figure-text-align: left;
}

.text.is-auto-phrase {
  word-break: auto-phrase;
}

.text.is-autospace {
  text-autospace: normal;
}

.image.is-full-auto {
  width: 100%;
  height: auto;
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

[data-theme="dark"] code[data-theme*=" "],
[data-theme="dark"] code[data-theme*=" "] span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}
