:root {
  --theme-tx-1: oklch(0.34 0.02 277.99 / 1);
  --theme-primary: oklch(0.74 0.15 209.92 / 1);
  --theme-secondary: oklch(0.74 0.22 335.78 / 1);
  --theme-bg-2-only-dark: #18212f;
  --theme-placeholder: var(--theme-tx-3);
}

[data-theme="dark"] {
  --theme-tx-1: oklch(0.94 0.02 277.99 / 1);
}

:root {
  --header-height: 62px;
  --layout-gap: 28px;
  --layout-gap-count-max: 2;
  --sidebar-width: 200px;
  --sidetoc-width: 160px;
}

html {
  scroll-padding-top: var(--header-height);
}

.box.is-bg-2-only-dark {
  background-color: var(--theme-bg-2-only-dark);
}

.box.is-sticky-top {
  position: sticky;
  top: 0;
  z-index: 10;
}

.card.is-link.is-bg-2 {
  border: 1px solid transparent;
}

@media (hover: hover) and (pointer: fine) {
  .card.is-link.is-bg-2:hover {
    background-color: var(--theme-bg-3);
    border-color: var(--theme-bd-2);
  }
}

.box.is-angle-fix {
  --box-angle-position: 0.925em;
}

.text.is-auto-phrase {
  word-break: auto-phrase;
}

.text.is-autospace {
  text-autospace: normal;
}

.text.is-record {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.text.is-record::before {
  content: "";
  width: 3em;
  height: 0.125em;
  border-bottom: 0.5px solid currentColor;
}

.image.is-full-auto {
  width: 100%;
  height: auto;
}

.wysiwyg {
  --wysiwyg-figure-text-align: left;
}

.is-max-width-100per {
  max-width: 100%;
}

.is-width-240px {
  width: 240px;
}

.is-height-100vh {
  height: 100vh;
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

[data-theme="dark"] code[data-theme*=" "],
[data-theme="dark"] code[data-theme*=" "] span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}
