*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  font-family: var(--theme-font-sans);
  word-break: break-word;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--theme-bg-2);
  color: var(--theme-tx-1);
  font-size: 16px;
  line-height: 1.5;
  word-break: break-word;
}

ol,
ul {
  list-style: none;
}

a {
  color: var(--theme-ac-2);
  text-decoration: underline;
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--theme-tx-1);
  font-weight: 600;
  line-height: 1;
}

h1 {
  font-size: 32px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-size: 28px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 36px;
  }
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  line-height: 1.9;
}

:placeholder-shown {
  color: var(--theme-tx-4);
}

::-webkit-input-placeholder,
:-ms-input-placeholder {
  color: var(--theme-tx-4);
}

:-moz-placeholder,
::-moz-placeholder {
  opacity: 1;
  color: var(--theme-tx-4);
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
