.section-title {
  font-size: clamp(3rem, 1.182rem + 7.76vw, 7rem);
  font-weight: 900;
  font-family: var(--font-sans-en);
  text-transform: uppercase;
  text-shadow: -1px -1px 0px var(--theme-primary),
    1px 1px 0px var(--theme-secondary);
}

.section-title.is-bg-1 {
  color: var(--theme-bg-1);
}

.section-title.is-bg-2 {
  color: var(--theme-bg-2);
}

.section-title.is-center {
  text-align: center;
}

.section-title.is-right {
  text-align: right;
}

.section-title.is-fix-position {
  margin-bottom: -0.875em;
  translate: 0 -50%;
}

.section-title.is-fix-top {
  margin-top: 0.25em;
}
