.block-search {
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", Meiryo,
    "Yu Gothic Medium", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.block-search {
  margin-bottom: 24px;
}

.block-search > * + * {
  margin-top: 8px;
}

.block-search-field {
  position: relative;
  border: 1px solid var(--theme-tx-3);
  border-radius: 4px;
}

.block-search-field:focus-within {
  background-color: var(--theme-ac-2-alpha);
  border-color: var(--theme-ac-2);
}

.block-search-field .block-search-icon {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 12px;
  width: 16px;
  height: 16px;
  fill: var(--theme-tx-2);
  transform: translateY(-50%);
  z-index: 1;
}

.block-search-field > input {
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: 8px 36px;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: var(--theme-tx-1);
  font-size: 16px;
  line-height: 1.5;
}

.block-search-field input:focus {
  outline: none;
}

.block-search-field input::-webkit-search-cancel-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 12px;
  width: 20px;
  height: 20px;
  margin: 0;
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><polygon fill-rule="evenodd" fill="%23ff7fc7" points="8 9.414 3.707 13.707 2.293 12.293 6.586 8 2.293 3.707 3.707 2.293 8 6.586 12.293 2.293 13.707 3.707 9.414 8 13.707 12.293 12.293 13.707 8 9.414"/></svg>');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 72% 72%;
  transform: translateY(-50%);
  z-index: 1;
}

.block-search-list {
  max-width: 100%;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.block-search-list a {
  display: block;
  padding-bottom: 6px;
  color: var(--theme-tx-1);
  text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
  .block-search-list a:hover > div {
    background-color: var(--theme-ac-2-alpha);
  }
}

.block-search-list a > div {
  position: relative;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid var(--theme-tx-4);
  border-radius: 4px;
}

.block-search-list a:focus {
  outline: none;
}

.block-search-list a:focus > div {
  background-color: var(--theme-ac-2-alpha);
  border-color: var(--theme-ac-2);
}

.block-search-list p {
  margin: 0;
  line-height: 1.375;
}

.block-search-list p > strong {
  font-size: 14px;
  font-weight: 500;
}

.block-search-list p > strong mark {
  background: none;
  color: var(--theme-ac-2);
}

.block-search-list p > small {
  color: #90a4b7;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
